{% extends 'temp/student.html' %}
{% block base %}

<h2 align="center">Total Amount</h2>
<table align="center" >
<form method="post">
{% csrf_token %}

	<tr>
			<td>no.of room:</td>
			<td><input type="text" name="room">  </td>
		</tr>
		<tr>

			<td>no.of days:</td>
			<td><input type="text" name="day">  </td>
		</tr>
    {% for i in obval %}
		<tr>
			<td>1day_amount:</td>
			<td><input type="text" name="amount" value="{{ i.fees }}" readonly>  </td>
		</tr>
    {% endfor %}

		<tr><td>
			<td align="center"><input type="submit" name="ok" value="POST"></td>

		 </tr>
</form>
	</table>
{% endblock %}

</body>
</html></html>